@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #22262A;
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html{
  scroll-behavior: smooth !important;
}
body {
  background-color: #fff !important;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden !important;
  color: #020202;
  font-size: 16px;
  font-weight: 500;
}
.pagination ul li.active{
background-color: #1A4B7B !important;
}
.pagination ul li.active a{
  color: #fff !important;

}